<h1><%= @question.name %></h1>

<p><%= @question.body %></p>

<% if @question.user == session[:user] %>
<%= link_to 'add comment to question', add_comment_question_path(@question) %>
<p><%= link_to("Edit This Question", edit_question_path(@question)) %></p>
<% end %>

asked by <%= link_to(@question.user.name, user_path(@question.user)) %> on <%= (@question.created_at).strftime("%b %d '%y") %>

<h2>Answers</h2>

<% @answers.each do |answer| %>
  <p><%= answer.body %></p>
  <% if answer.user == session[:user] %>
    <p><%= link_to("Edit This Answer", edit_question_answer_path(@question, answer)) %></p>
  answered by <%= link_to(@question.user.name, user_path(@question.user)) %> on <%= (@question.created_at).strftime("%b %d '%y") %>
  <% end %>
<% end %>

<%= render 'answers/form' %>
<%= render 'questions/comment' %>



