<h1><%= @question.name %></h1>

<p><%= @question.body %></p>
<%= link_to vote_question_path(@question, vote_value: 1), method: 'post', remote: true do %>
  Vote up
<% end %>

<% if @question.user.id == session[:user_id] %>
<%= link_to 'add comment to question', new_comment_question_path(@question), remote: true  %>
<p><%= link_to("Edit This Question", edit_question_path(@question)) %></p>
<% end %>
asked by <%= link_to(@question.user.name, user_path(@question.user)) %> on <%= (@question.created_at).strftime("%b %d '%y") %>

<h2>Answers</h2>

<% @answers.each do |answer| %>
  <p><%= answer.body %></p>
  <% if answer.user.id == session[:user_id] %>
    <p><%= link_to("Edit This Answer", edit_question_answer_path(@question, answer)) %></p>
  answered by <%= link_to(@question.user.name, user_path(@question.user)) %> on <%= (@question.created_at).strftime("%b %d '%y") %>
  <%= link_to 'add comment to question', new_comment_question_answer_path(@question, answer), remote: true  %>
  <% end %>
<% end %>

<% if session[:user_id] %>
  <%= render 'answers/form' %>
  <% else %>
  <h4>Please <%= link_to 'login', user_login_path %> to submit an answer  </h4>
<% end %>




