<h1><%= @question.name %></h1>

<p><%= @question.body %></p>


<%= link_to 'add comment to question', new_comment_question(@question), remote: true  %>
<p><%= link_to "Edit This Question", edit_question(@question) %></p>

<h2>Answers</h2>

<% @answers.each do |answer| %>
  <p><%= answer.body %></p>
  <p><%= link_to("Edit This Answer", edit_question_answer_path(@question, answer)) %>
  <%= link_to 'add comment to question', new_comment_question_answer(@question, answer), remote: true  %>
<% end %>

<%= render 'answers/form' %>
<%= render 'questions/comment' %>



