<h1><%= @question.name %></h1>
<hr />
<div class="questions_vote">
<%= link_to vote_question_path(@question, vote_value: 1), method: 'post', remote: true do %>
  Vote up
<% end %>
<div class="vote_count">
  <%= @question.votes.sum(:vote_value) %>
</div>
<%= link_to vote_question_path(@question, vote_value: -1), method: 'post', remote: true do %>
  Vote down
<% end %>
</div>

<p class="question_body"><%= @question.body %></p>

<div class="question-comment">
  <% @comments.each do |comment| %>
  <div class="comment">

    <%= comment.body %> 
  <div id="commenters_name"><%= comment.user.name %></div>
</div>
  <% end %>
  <%= link_to 'add comment to question', new_comment_question_path(@question), remote: true  %>
</div><br>

<% if @question.user.id == session[:user_id] %>
  <div class="edit_question"><%= link_to("Edit This Question", edit_question_path(@question)) %></div><br>
<% end %>
<div class="asked_by">asked by <%= link_to(@question.user.name, user_path(@question.user)) %> on <%= (@question.created_at).strftime("%b %d '%y") %></div>
<hr />

<h4>Answers</h4>
<hr />

<% @answers.each do |answer| %>
  <p><%= answer.body %></p>
  <% if answer.user.id == session[:user_id] %>
    <p class="edit_answer"><%= link_to("Edit This Answer", edit_question_answer_path(@question, answer)) %></p>
  answered by <%= link_to(@question.user.name, user_path(@question.user)) %> on <%= (@question.created_at).strftime("%b %d '%y") %><br>
  <div class="add_comment"><%= link_to 'add comment to question', new_comment_question_answer_path(@question, answer), remote: true  %></div>

  <hr />
  <% end %>
  <div class="answers_vote">
    <%= link_to vote_question_answer_path(@question, answer, vote_value: 1), method: 'post', remote: true do %>
    Vote up
    <% end %>
    <div class="vote_count">
     <%= answer.votes.sum(:vote_value) %>
    </div>
    <%= link_to vote_question_answer_path(@question, answer, vote_value: -1), method: 'post', remote: true do %>
    Vote down
    <% end %>
  </div>
<% end %>


<% if session[:user_id] %>
  <%= render 'answers/form' %>
  <% else %>
  <h4>Please <%= link_to 'login', user_login_path %> to submit an answer  </h4>
<% end %>




