<p id="notice"><%= notice %></p>
<h2>Login, my friend</h2>

<%= form_for @user, :url => user_verify_path, :html => { :method => :post } do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br />
  <%= f.label :password %>
  <%= f.password_field :password %><br />
  <%= f.submit "Login" %>
<% end %>

<h4>New here? <%= link_to 'Sign up!', new_user_path %></h4>


